/* importation des font family */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root{
    --warning-ad-color: #FFFF00;
    --yellow-ad-color: #F8F184;
    --primary-ad-color: #19587D;
    --danger-ad-color: #B11313;
    --darkpale-ad-color: #0D0E09;
    --secondary-ad-color: #C4C4C4;
    --dark-ad-color: #000000;
    --white-ad-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* la première partie avec background batman rouge */
.container{
    background-image: url(../Illustrations/Home/Bathome1.png);
    background-size: cover; 
    background-position: center;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px  ;
    border-right: 2px solid #bcbbbd62;
    border-left: 2px solid #bcbbbd62;
    border-bottom: 4px solid #bcbbbd69;
    margin: 0 100px;
}

.conteneur, #down, #bg, #slide, #bg-4{
    border-right: 2px solid #bcbbbd62;
    border-left: 2px solid #bcbbbd62;
    margin: 0 100px;
}

.navlist a{
    color: var(--white-ad-color);
    text-decoration: none;
    margin: 0 0 0 30px;
    font-family:  'Rajdhani', sans-serif;
    font-size: xx-large;
}

#imghover{
    display: none;
}

.navlist .active{
    border-bottom: 2px solid var(--white-ad-color);
}

.conteneur{
    display: flex;
    justify-content: space-between;
    
}

#content1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 300px;
    height: 500px;
    text-align: center;
}

#content1 p{
    color: var(--white-ad-color);
    font-weight: lighter;
    line-height: 25px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    margin-top: auto;
}

#content1 #batman{
    font-size: xx-large;
    font-weight: medium;
    margin: 40px 0;
}

/* codage des deux boutons */
.btn button{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    color: var(--white-ad-color);
    background-image: linear-gradient(to right, #f8f7f6, #890008);
    opacity: 1;
    padding: 20px 40px;
    margin:  0 20px;
    border: none;
    letter-spacing: 3px;
}

/* manipulation des icones de logo dans la partie droite */
aside{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    scroll-behavior: smooth;
    z-index: 1;
    margin-top: 300px;
    margin-right: -54px;
}

/* le flèche vers le bas */
#down{
    text-align: center;
    padding: 200px 0 0;
}

/* le container2 */
.container2, .container4{
    background-color: var(--dark-ad-color);
    color: var(--white-ad-color);
    height: auto;
}

.container4{
    padding-top: 150px;
}
#cinema{
    padding-top: 150px;
}

#cinema, #nemesis{
    width: 80%;
    margin: 0 auto;
}

#cinema h2, #nemesis h2{
    font-size: 36px;
    font-family: 'Rajdhani', sans-serif;

}

#cinema p, #nemesis p{
    font-family: 'Space Grotesk', sans-serif;
    text-align: justify;
    font-size: 22.5px;
}

#bg-4{
    margin-top: -150px;
    padding-top: 150px;
}

/* positionement des 3 images */
.threeImg{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 70px;
    margin-left: 60px;
    margin-top: 150px;
    padding-bottom: 100px;
}

/* formation de figcaption au dessous des images */
figure div {
    position: relative;
    bottom: 150px;
    left: 50px;
    display: none;
}

figure img:hover{
    background-size: 130%;
    transition: all 0.4 ease;
}

figure div figcaption p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    text-align: center;
    background-image: linear-gradient(to right, #f8f7f6, #890008);
    width: 84%;
    padding: 20px 0;
    border-radius: 50px;
}

figure div figcaption p span{
    color: var(--yellow-ad-color);
}

/* positionner le profil à coté de son description */
figure div figcaption img{       
    position: relative;
    top: 60px;
    right: 28px;
}

/* la partie de l'image seulement */
/* on ajoute une animation du background */
.slider {
    background-image: url(../Illustrations/Home/Batslider1.png);
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 4s;

    animation-name: animate;
    animation-direction: alternate;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in;
}

@keyframes animate{
    0%{
        background-image: url(../Illustrations/Home/Batslider1.png);
    }
    10%{
        background-image: url(../Illustrations/Home/Batslider2.png);
    }
    21%{
        background-image: url(../Illustrations/Home/Batslider3.png);
    }
    34%{
        background-image: url(../Illustrations/Home/Batslider4.png);
    }
    45%{
        background-image: url(../Illustrations/Home/Batslider5.png);
    }
    56%{
        background-image: url(../Illustrations/Home/Batslider6.png);
    }
    67%{
        background-image: url(../Illustrations/Home/Batslider7.png);
    }
    78%{
        background-image: url(../Illustrations/Home/Batslider8.png);
    }
    89%{
        background-image: url(../Illustrations/Home/Batslider9.png);
    }
    100%{
        background-image: url(../Illustrations/Home/Batslider10.png);
    }
    
}

#slide{
    height: 550px;
}

/* parametrage de la partie avec multimédia */
.container5{
    background-color: var(--dark-ad-color);
}

.container5 h2{
    font-family: 'Rajdhani', sans-serif;
    color: var(--white-ad-color);
    padding: 0 0 60px 120px;
    font-size: 36px;
}
/* manipulation de la partie image avec flèche gauche et droite */
#imgSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.cardBox{
    width: 100%;
    display: flex;
    margin-right: -700px;
}

.action{
    background-image: linear-gradient(to right, #5f5c5c, #19587D );
    color: var(--white-ad-color);
    width: 30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 20px 0px 30px;
}

.action h5{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

.action #begin{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 200;
    font-size: large;
    margin-top: 5px;
}

.action #imdb{
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 5px;
}

.action #imdb span{
    color: var(--yellow-ad-color);
}

.action #bruceText{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin-top: 5px;
}

/* les deux cardbox lors du clic de bouton next et prev */
.boxhidden{
    display: none;
}

/* les vidéos de bande annonce officielle */
.bandeOffice div{
    margin: 100px 110px 0;
    padding-bottom: 150px;
}

.bandeOffice #hiddenvideo{
    display: none;
}

/* construction du formulaire */
form{
    color: var(--white-ad-color);
    padding: 0 350px;
    background-image: linear-gradient(to right bottom, #716752, #0e6969);
}

form h2{
    font-size: 32px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 50px 0 100px ;
}

form label{
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
}

form p{
    font-family: 'Space Grotesk', sans-serif;
    color: var(--secondary-ad-color);
    font-weight: lighter;
}

.email input, .newsletter input[type=text], .message input, select{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--secondary-ad-color);
    width: 100%;
    color: var(--secondary-ad-color);
    padding: 0 0 7px;
}

.btn-group{
    display: flex;
    justify-content: center;
    gap: 50px;
}    

.btn-group button{
    padding: 10px 30px;
    border: 2px solid;
    border-image: linear-gradient(to right, #716752,#498fb8, #19587D);
    border-image-slice: 1;
    background-color: inherit;
    color: var(--white-ad-color);
}

/* hover sur les 3 boutons pour background devenant comme la couleur du bordure*/
.btn-group button:hover{
    background-image: linear-gradient(to right, #716752,#498fb8, #19587D);

}

.email input::placeholder, .message input::placeholder{
    color: var(--secondary-ad-color);
    font-size: 15px;
}

input [type=checkbox]{
    width: 20px;
}

input[type=button]{
    color: var(--white-ad-color);
    font-size: medium;
    border: none;
    background-image: linear-gradient(to right, #f8f7f6, #890008);
    letter-spacing: 3px;
    padding: 20px 70px;
    margin: 30px 0 70px 250px;
}

/* configuration du footer */
footer{
    background-color: var(--dark-ad-color);
    color: var(--white-ad-color);
    line-height: 30px;
}

/* configuration de la partie avec guillemet */
.footerText{
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}

.footerP{
    position: relative;
    top: 40px;
}

.guillemet{
    margin-top: 10px;
    margin-left: 700px;
    padding-bottom: 120px;
}

#textSeule{
    font-size: 17px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}

#dark{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    color: var(--secondary-ad-color);
    margin-top: 15px;
}

#icon {
    color: var(--primary-ad-color);
    margin-top: 15px; 
    text-align: center;
    justify-content: center;
}


/* le logo warner bros avec text à coté */
.warner{
    display: flex;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    gap: 18px;
}

/* les 6 petits logos tout en bas de la page */
.footerFig{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    padding-bottom: 80px;
}

.footerFig figure{
    display: flex;
    align-items: center;
    gap: 25px;
}